@media (prefers-color-scheme: dark) {
}


*{
    margin: 0px;
    padding: 0px;
    
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   
}


@media (max-width:600px) {
    img#headerImg {
      display: none;
    }
    #moveBtn{
        min-width: 92vw !important;
        margin-left: 4vw !important;
        margin-right: 4vw !important;
    }
    #searchButton, #searchMore{
        min-width: 92vw !important;
    }
    #spanTime{
        visibility: hidden;
    }
    
    
  }
@media (max-height:600px) {
    header{
        min-height: 20vh !important;
    }
    
}

#foot1{
    min-width: 30vw;
}

header{
   min-height: 10vh;
   margin-bottom: 3vh;
}

#headerImg{
    max-height: 8vh;
    padding-left: 4vw;
    min-height: 60px;
}
#moveBtn{
    font-weight: bold;
    font-size: 1.2em;
    margin-left: 2vw;
    min-width: 16em;
    height: 8vh;
    min-height: 60px;
    border: none;
    box-shadow: 0px 0px 2px 2px #7474bf49;
}


#abfahrtenTable{
    margin-top: 1vh;
}

#endPunktInputDiv{
    padding-top: 1.2vh;
}
#inputs{
    max-width: 92vw;
    margin: auto;
}

#spaceDiv{
    padding-top: 3vh;
}
#searchButton, #searchMore{
    margin-top: 2vh;
    font-weight: bold;
    font-size: 1.2em;
    min-width: 92vw;
    height: 8vh;
    min-height: 60px;
    border: none;
    box-shadow: 0px 0px 4px 4px #7474bf48;
}

input.loading {
    background: url(https://www.xiconeditor.com/image/icons/loading.gif) no-repeat right;
 }

#selectAnkunftszeit, #selectAbfahrtszeit{
    margin-bottom: 1vh;
    outline: none !important;
    box-shadow: none !important;
}

table{
    font-size: 1em;
 }
 .headTableAbfahrten{
    font-size: 1em;
 }
.nodisplay {
    display: none;
}

.page {
    position: relative;
    width: 100%;
    min-height: 100%;
}

#about-2, #about-1 {
    min-height: 75vh;
    color: #000000;    
}

.jumbotron {
    position: relative;
    background:none;
}
.jumbotron:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(https://cdn.pixabay.com/photo/2014/01/30/01/36/girl-254708_960_720.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;
}


.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #c2c2c2;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;


    max-height: 31vh;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;

  }
  
  .ui-autocomplete > li > div {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
  }
  
  .ui-state-hover,
  .ui-state-active,
  .ui-state-focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
    cursor: pointer;
  }
  
  .ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }


.stopsOutput{
    margin-left: 3vw;
}
.finalStops{
    margin-left: 1vw;
    margin-top:1vh;
    padding-bottom: 1vh;
}

.umstieg_output{
    padding-bottom: 1vh;
    padding-left: 1vw;
}

#rightHead {
   padding-right: 3vw;
}

.btn-dark-blue {
    background: #7474BF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #348AC7, #7474BF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #348AC7, #7474BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #eee;
    transition: all .25s;
}

.btn-dark-blue:hover{
    color: black;
    letter-spacing: 4px;
    box-shadow: 0px 5px 6px rgba(150, 150, 150, 0.4);
}

.btn-rounded {
    border-radius: 35px;
}

.transferListOutput{
    display: flex;
    margin-right: 1vw;
}

.busTransferOutput{
    background-color: #348AC7;
    color: whitesmoke;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}

.trainTransferOutput{
    background-color: rgb(20, 19, 19);
    color: whitesmoke;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}

.seilbahnTransferOutput{
    background-color: rgb(73, 73, 73);
    color: whitesmoke;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}

.walkTransferOutput{
    background-color: rgb(85, 78, 78);
    color: whitesmoke;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}


.otherTransferOutput{
    background-color: rgb(68, 56, 56);
    color: whitesmoke;
    padding: 4px 4px 4px 4px;
    border-radius: 5px;
}
.nextOut{
    color: rgb(22, 20, 20);
    padding: 4px 4px 4px 4px;
    border-radius: 5px;
}

footer{
    box-shadow: 0 0 50px 2px #7474bf6e;
    background: -webkit-linear-gradient(to right, #348ac775, #7474bf75);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #348ac775, #7474bf75); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0,0,0,0;
    border-radius: 5px;
}







#map a {
    font-size: smaller;
}
